<footer>
  <div class="f-info border-top">
    <div class="btn-group dropend">
      <i class="fa-solid fa-earth-americas" style="color: #00ed64"></i>
      <button
        type="button"
        class="language dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        id="lang-btn"
      >
        English
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="#" data-lang="hi" id="lang-option"
            >Hindi</a
          >
        </li>
      </ul>
    </div>
    <div class="f-info-links">
      <a href="/company/info"><button>&copy; 2025&nbsp;&nbsp;Robins</button></a>
      <a href="/privacy"><button>Privacy Policy</button></a>
      <a href="/terms"><button>Terms & Condition</button></a>
    </div>
    <div class="f-info-socials">
      <div class="brand-icon">
        <i class="fa-brands fa-facebook" style="color: #1877f2"></i>
      </div>
      <div class="brand-icon">
        <i class="fa-brands fa-instagram" style="color: #ffffff"></i>
      </div>
      <div class="brand-icon">
        <i class="fa-brands fa-whatsapp" style="color: #63e6be"></i>
      </div>
      <div class="brand-icon">
        <i class="fa-brands fa-x-twitter" style="color: white"></i>
      </div>
      <div class="brand-icon">
        <i class="fa-brands fa-threads" style="color: #ffffff"></i>
      </div>
      <div class="brand-icon">
        <i class="fa-brands fa-linkedin" style="color: #0a66c2"></i>
      </div>
    </div>
  </div>
</footer>
